header{ 
    background: #313533;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
   -o-transition: all 200ms ease;
   transition: all 200ms ease;
}
body{
    background-image:  url(../images/woman_tech.jpg);
    background-repeat:no-repeat;
    
} 

.image {
    float: left;  
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1{
   color: #FFE50E;
}
#welcome-page{
   width: 360px;
   border-radius: 3px;
   margin: 200px auto;
}
#welcome-page h1{
   text-align: center;
   font-family: "Varela Round";
   font-size: 50px;
  
}
#menu-page{
   display: none;
   
}
#students-page{
    display: none;
}

button{
   border: none;
   padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
 
}
