header {
    display: flex;
    background: #313533;
    height: 120px;

}
body{
    background-color: #969FAA;
    /* background: url(../images/woman_tech.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
}
h1{
    color: #FFE50E;
}
form{
    width: 360px;
    border-radius: 3px;
    margin: 200px auto;
}
form h1{
    text-align: center;
    font-family: "Varela Round";
    font-size: 50px;
}

#start{

    display: none;
}

input{
	color: #000000;
	background: #ffffff;
    font: 1em;
    box-sizing: border-box;
	border: none;
	border-radius: 5px;
	display: block;
	margin: 9px auto 0 auto;
	padding: 5px;
}

form button{
    border: none;
    padding: 15px 32px;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
    background:#FFE50E;  
}
preadmision{
    border: none;
    padding: 15px 32px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background: none;
   
}
h2{
    font-family: "Varela Round";
}



/*
#969FAA;

